<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Application</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link th:href="@{/css/theme.css}" rel="stylesheet"/>
    </head>
    <body>

<!-- Temporarire -->
        <nav class="main-menu">
            <div>
                <a class="logo" href="http://startific.com">t
                </a> 
            </div> 
            <div class="settings">lol</div>
            <div class="scrollbar" id="style-1">

                <ul>

                    <li>                                   
                        <a href="/">
                            <i class="fa fa-home fa-lg"></i>
                            <span class="nav-text">Home</span>
                        </a>
                    </li>   

                    <li>                                 
                        <a href="http://startific.com">
                            <i class="fa fa-user fa-lg"></i>
                            <span class="nav-text">Login*</span>
                        </a>
                    </li>

                    </li>
                    <li class="darkerlishadow">
                        <a th:href="@{addCompte}">
                            <i class="fa fa-plus fa-lg"></i>
                            <span class="nav-text">Add</span>
                        </a>
                    </li>

                    <li class="darkerli">
                        <a th:href="@{all}">
                            <i class="fa fa-th-list fa-lg"></i>
                            <span class="nav-text">List all</span>
                        </a>
                    </li>

                    <li class="darkerlishadowdown">
                        <a href="http://startific.com">
                            <i class="fa fa-rocket fa-lg"></i>
                            <span class="nav-text">Fun*</span>
                        </a>
                    </li>
                </ul>
                <li>
                    <a href="http://startific.com">
                        <i class="fa fa-question-circle fa-lg"></i>
                        <span class="nav-text">Help*</span>
                    </a>
                </li>
            </div>
        </nav>



        <form action="#" class="formPerso" th:action="@{/manager/add}" th:object="${compte}">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" 
                       aria-describedby="login" placeholder="Enter login" th:value="${login}" name="login" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" 
                       th:value="${password}" name="password" placeholder="Password" required/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
